h1 {
  font-size: clamp(1rem, 1.5368rem + 1.1035vw, 3.5rem);
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.contentContainer h2 {
  font-size: clamp(1rem, 0.7737rem + 1.807vw, 3rem);
}

p {
  font-size: clamp(1rem, 0.5684rem + 0.7018vw, 1.3rem);
  line-height: 1.6;
}

@media screen and (min-width: 300px) {
  .ApiIntroductionContainer {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }

  .imageContainer {
    display: flex;
    height: 90vh;
    margin: -1rem;
  }

  .image {
    width: 100%;
    object-fit: cover;
  }

  .contentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
  }

  .contentHeading {
    display: flex;
    gap: .7rem;
   
  }

  .contentInformation {
    display: flex;
    gap: 3rem;
    margin: 1rem 0;

  }
}

@media screen and (min-width: 768px) {
  h1 {
    align-self: flex-start;
    margin-bottom: 1.5rem;
  }

  .ApiIntroductionContainer {
    flex-direction: row;
    gap: 2rem;
    height: 90vh;
    margin: 0 0 5rem 0;
  }

  .imageContainer {
    width: 100%;
    margin: 0;
    position: relative;
    align-items: center;
  }

  .image {
    position: absolute;
    width: 200%;
    right: -30%;
  }

  .contentContainer {
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    gap: 0;
    width: 100%;
    padding: 1rem;
    
  }

  .contentHeading {
    gap: 3rem;
    justify-content: flex-start;

  }

  .contentHeading h2 {
    font-size: clamp(1rem, 0.5737rem + 1.00vw, 2rem);
  }

  .contentInformation {
    justify-content: flex-start;
    gap: 3rem;
    margin: 1rem 0;
    color: rgb(118, 98, 251);
    
  }

  .contentInformation h2 {
    /* margin-left: 1rem; */
  }
  
}

@media screen and (min-width: 992px) {
  .image {
    width: 190%;
    right: -25%;
  }

  .contentInformation {
    gap: 3rem;
  }

  .p {
    width: 85%;
  }
}

@media screen and (min-width: 1200px) {

  .image {
    max-width: 180%;
    right: -20%;
  }

  .p {
    width: 80%;
  }
}

